tags
# Ignores the tagfile
*.exe
# Ignores executable files

*.docx
*.pdf
# Ignore document files

.tmp.driveupload/
# Ignore Google Drive folder


flask_website/
#Ignore as it is already a git repo
NIT Internship/converter.py
NIT Internship/csvmaker.py
